{
	"useTabs": true,
	"tabWidth": 4,
	"plugins": [
		"prettier-plugin-tailwindcss",
		"@trivago/prettier-plugin-sort-imports"
	],
	"importOrder": ["^@/shared/(.*)$", "^@/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
